/*============================================================

                AO3 SITE SKIN UTILITY ADD-ONS

==============================================================

Instructions: https://ao3.org/works/76032096/chapters/212387316


==============================================================
DIRECTORY
==============================================================

>> 01 Hide Specific Buttons
>> 02 Hide/Replace AO3 Header Elements
>> 03 Hide Statistics
>> 04 Hide/Modify Specific Tags
>> 05 Hide Miscellaneous Elements
>> 06 Display Download Button for Only One Format
>> 07 Position Blurb Icons in a Row Under the Fandom Tags
>> 08 Miscellaneous


==============================================================
>> 01 Hide Specific Buttons
============================================================*/

/*===== hide "Delete" buttons on comments =====*/
.thread li[id^="delete_comment_link"] {
  display: none;
}

/*===== hide "Block" buttons on comments =====*/
.thread li[id^="block_link"] {
  display: none;
}

/*===== hide "Delete from History" button in "Is it later already?" module on AO3 homepage =====*/
.splash .reading .actions {
  display: none;
}

/*===== hide "Delete" button in "Unread messages" module on AO3 homepage =====*/
.splash .comment .actions li:has(input[value="Delete"]) {
  display: none;
}

/*===== hide "Clear Entire History" button =====*/
li:has(a[href$="/readings/confirm_clear"]) {
  display: none;
}

/*===== hide "Delete from History" button on "History" pages =====*/
.readings-index ul.actions:has(input[value="Delete from History"]) {
  display: none;
}

/*===== hide "RSS Feed" button =====*/
li:has(a.rss) {
  display: none;
}

/*===== hide "Delete My Account" button =====*/
li:has(a[data-confirm][data-method="delete"][href*="/users/"]) {
  display: none;
}

/*===== hide "Orphan Work" button =====*/
li:has(a[href*="/orphans/new?work"]) {
  display: none;
}

/*===== hide "Delete Work" button =====*/
li:has(a[href*="/works"][data-method="delete"]) {
  display: none;
}

/*===== hide "Orphan Series" button =====*/
li:has(a[href*="/orphans/new?series"]) {
  display: none;
}

/*===== hide "Delete Series" button =====*/
li:has(a[href*="/series"][data-method="delete"]) {
  display: none;
}

/*===== hide "Delete All Subscriptions" button =====*/
li:has(a[href*="/subscriptions/confirm_delete_all"]) {
  display: none;
}


/*============================================================
>> 02 Hide/Replace AO3 Header Elements
============================================================*/

/*===== hide the AO3 logo =====*/
#header .logo {
  display: none;
}

/*===== replace the AO3 logo with a high res version =====*/
/* you can also replace the url between the quotation marks with your own */ 
/* the image must be hosted on an image sharing site like Squidge Images */
#header .logo {
  content: url("/images/logo.png");
}

/*===== hide the little user icon =====*/
#greeting p.icon {
  display: none;
}

/*===== hide the "Post" button =====*/
/* because maybe you're a reader, not a writer */
#header #greeting li:has(a[href*="/works/new"]) {
  display: none;
}

/*===== hide the "Log Out" button =====*/
/* because why would you ever want to leave AO3? */
#header #greeting li:has(a[href*="/users/logout"]) {
  display: none;
}

/*===== hide the search bar =====*/
#header .search {
  display: none;
}

/*==== replace "Archive of Our Own beta" heading =====*/
/* hide "Archive of Our Own beta" */
#header .heading a span,
#header .heading a sup {
  display: none;
}

  /* --> replacement */
  #header .heading a::before {
    content: "Replacement" /* put any text/emoji/symbol you want between the quotation marks */
  }

/*===== replace only the "beta" after "Archive of Our Own" =====*/

/* hide "beta" */
#header h1.heading a sup {
  display: none;
}

  /* --> replacement */
  #header h1.heading a span::after {
    content: " omega"; /* insert replacement text between the quotation marks, but keep the space before it */
    font-style: italic;
    font-size: 0.583em;
    line-height: 0;
    white-space: nowrap;
    vertical-align: super;
  }

/*===== replace "Hi, [username]! =====*/
/* hide "Hi, [username]!, but in a way that keeps the functionality for the replacement */
#header #greeting .dropdown > a[href*="/users/"] {
  width: 1.4em; /* adjust to width of replacement if necessary */
  overflow: hidden;
  color: transparent;
}

  /* --> replacement */
  #header #greeting .dropdown > a[href*="/users/"]::before {
    display: block;
    color: initial;
    content: "🌠"; /* put any text/emoji/symbol you want between the quotation marks; adjust width above if necessary */
  }


/*============================================================
>> 03 Hide Statistics
============================================================*/

/*===== hide stats for comments, kudos, bookmarks and hits on all works =====*/
.stats :is(.comments, .kudos, .bookmarks, .hits) {
  display: none;
}

/*===== hide stats for comments, kudos, bookmarks and hits only on your own work =====*/
.own.blurb .stats :is(.comments, .kudos, .bookmarks, .hits),
.series-show:has(.own.blurb) .series.meta .bookmarks {
  display: none;
}

/*===== hide the link to your statistics page =====*/
li:has(> a[href*="/stats"]) {
  display: none !important;
}

/*===== hide the content of your statistics page =====*/
.stats-index {
  display: none;
}


/*============================================================
>> 04 Hide/Modify Specific Tags
============================================================*/

/*===== add a heart to tags for romantic/sexual relationships (e.g. tags that contain a slash) =====*/
/* you can replace the heart by replacing "\002764\fe0e \00a0" between the quotation marks with any text/emoji/symbol you want */
[class^="relationship"] a.tag[href*="*s*"]::before {
  content: "\002764\fe0e \00a0"; /* = unicode heart + variation selector + non-breaking space */
}

/*===== change the gray background color of relationship tags in blurbs =====*/
li.relationships a {
  background: #5998D6; /* this is Reversi blue; you can change it to any color you want */
}

/*===== hide all character tags in blurbs =====*/
/* you can modify this for other tag types (li.warnings, li.relationships, li.freeforms) */
.tags li.characters {
  display: none;
}

/*===== hide specific types of tags after a certain number =====*/
/* lists 5 "li" items, which means the 5th and subsequent tags get hidden - the number can be adjusted */
/* this is for relationship tags, but you can modify it for other tag types (li.characters, li.freeforms) */
.blurb li.relationships + li.relationships + li.relationships + li.relationships + li.relationships {
  display: none;
}

  /* --> optional: add suffix to last visible tag, to indicate that there are hidden tags */
  /* has to be one "li" item less than the list above! */
  .blurb li.relationships + li.relationships + li.relationships + li.relationships::after {
    color: red; /* change text color here */
    content: " [...]"; /* you can replace the text between the quotation marks with anything you want */
  }


/*============================================================
>> 05 Hide Miscellaneous Elements
============================================================*/

/*===== hide the "You have muted some users" notice =====*/
p.muted.notice {
  display: none;
}

/*===== hide list of users who have left kudos on works =====*/
#feedback #kudos {
  display: none;
}

/*===== hide list of users who have left kudos on works, except on your works =====*/
#main:not(:has(.actions > .edit a[href$="/edit"])) #feedback #kudos {
  display: none;
}

/*===== hide list of users who have left kudos on your own works, but show them on other works =====*/
#main:has(.actions > .edit a[href$="/edit"]) #feedback #kudos {
  display: none;
}

/*===== hide only the kudos icon =====*/
p.kudos {
  background: none;
  padding: 0.5em;
}

/*===== hide specific skins in footer =====*/
/* delete the line of code for the ones you want to keep */
#footer .menu li:has([action="/skins/unset"]), /* Default */
#footer .menu li:has([action="/skins/891/set"]), /* Low Vision Default */
#footer .menu li:has([action="/skins/929/set"]), /* Reversi */
#footer .menu li:has([action="/skins/932/set"]) /* Snow Blue */
 {
  display: none;
}

/*===== hide all works in specified language(s) =====*/
/* this is for hiding Russian works, but you can change it to another language by replacing the "ru" language code */
/* you can hide more than one language; example for hiding Russian and French works: [lang="ru"], [lang="fr"] */
/* here are all languages that are used on AO3: https://archiveofourown.org/languages */
.work .blurb:has([lang="ru"]) {
  display: none;
}

/*===== hide all works that are NOT in the specified language(s) =====*/
/* this is for hiding all non-English works, but you can change it to another language by replacing the "en" language code */
/* you can also add other languages; example for only showing English and French works: [lang="en"], [lang="fr"] */
/* here are all languages that are used on AO3: https://archiveofourown.org/languages */
.work .blurb:not(:has([lang="en"])) {
  display: none;
}


/*============================================================
>> 06 Display Download Button for Only One Format
============================================================*/

/* removes the "Download" button and dropdown menu inside of works, and shows just the download button for your preferred format instead /*
/* this is for EPUB, but you can change it to another format (see below) */
/* you need to copy and paste this whole section for it to work properly */

/* remove expandable menu */
.javascript .work.navigation .download .secondary {
  display: inline;
  position: unset;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
}

/* fix positioning */
.javascript .work.navigation .download .secondary a {
  display: inline-block;
}

/* remove all the download buttons except for the EPUB one */
/* replace the "epub" between the quotation marks with "azw3", "mobi", "pdf" or "html" to get another format */
.download > button,
.javascript .work.navigation .download .secondary li:has(a:not([href*="epub"])) { /* <- CHANGE FORMAT HERE */
  display: none;
}

/* add a "download" symbol */
.download .expandable.secondary a::before {
  content: "\2913\00FE0F\00a0";
}


/*============================================================
>> 07 Position Blurb Icons in a Row Under the Fandom Tags
============================================================*/

/* you need to copy and paste this whole section for it to work properly */ 

/* remove the space for the icons on the right side */
.blurb:has(ul.required-tags) .header .heading {
  margin-left: 0;
}

/* this changes the position of the content icons */
.blurb .header ul.required-tags {
  position: unset;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  width: auto;
  margin-block: 0.375em;
}

/* more positioning */
.blurb .header ul.required-tags li {
  position: unset;
}


/*============================================================
>> 08 Miscellaneous
============================================================*/

/*===== work blurbs: display title, creator and gifteee in separate lines =====*/
.blurb .header h4.heading a:first-of-type::after,
.blurb .header h4.heading a[rel="author"]:has(+ a[href$="/gifts"])::after {
  content: "\A";
  white-space: pre;
}

/*===== make the whole site grayscale =====*/
/* warning: this will also affect all images */
#outer,
#modal {
  filter: grayscale(100%);
}

/*===== black out gif icons =====*/
img.icon[src$=".gif"] {
  filter: brightness(0) saturate(100%);
}
  /* --> add this if they should become visible again when you hover over/tap on them */
  img.icon[src$=".gif"]:is(:hover, :active) {
    filter: none;
  }

/*=====  black out images in works =====*/
#workskin img {
  filter: brightness(0) saturate(100%);
}

  /* --> add this if they should become visible again when you hover over/tap on them */
  #workskin img:is(:hover, :active) {
    filter: none;
  }